#login {
	margin-left: 30%;
	margin-right: 30%;
}

.container {
    text-align: center;
}

.navbar {
    border-radius: 0px;
}

.date {
    padding-top: 36px;
}

.col-md-1 {
    padding: 10px;
}

.circle {
    border-radius: 60%;
    width: 100%;
    position: relative;
}

.circle-border {
    border: 2px solid black;
}

.circle-solid {
    background-color: whitesmoke;
}

.circle:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.hour-text {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    font-size: 1em;
}